/* Sets HTML/BODY to be some size so Content percentages makes sense*/
html, body {
    height: 100%;
    margin: 0;

    background-color: #08252B;
}

.prof-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px
}

.prof-pic {
    width: 50%;
    border-radius: 50%;
}


.navbar {
    display: block;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #3E515A;
}

.site-section {
    padding: 0px;
    text-align: center;
    color: #759F9F;
    font-family: "Roboto Slab";
    font-size: 32px;
    font-weight: bolder;
}

.navitem {
    display: flex;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #C4C4C4;
    height: 65px;

    justify-content: center;
    align-items: center;
}
/* Makes clickable things less obvious until hovered */
.navitem a {
    color: #759F9F;
    text-decoration: none;
}
.navitem:hover {
    text-decoration: underline;
    background-color: darkgrey;
}


/* /////////////////////////////// */
/*    CONTENT CSS STARTS HERE      */
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 20%;
}

/*  TITLE - "About Me - My Passions and Personality */
.box-welcome {
    display: flex;
    height: fit-content;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    color:white;

    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15px; 

    border-bottom: solid whitesmoke;
    border-width: thin;

}

.word-container {
    display: flex;
    justify-content: center;
    height: 20%;
}


.text-welcome {
    margin:0;
    padding-top: 5%;
    font-family: 'Playfair Display';
    font-size: 64px;
    font-weight: lighter;
    letter-spacing: 0px;
}

.content-background-container {
    height: 100%;
    background-color: #08252B;
    
}



/* INNER CONTENT - BELOW TITLE  */

.inner-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
}

/* ROW ONE */ 
.inner-content-row-one {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.row-content {
    display: flex;
    flex-direction: row;
}

.row-one-text-title-education {
    color: whitesmoke;

    display: flex;
    justify-content: center;

    font-size: 34px;
    margin-top: 0;
}

.row-one-photo-container {
    display: flex;
    justify-content: center;
    width: 35%;
}

.first-pic {
    width: 70%;
}


.row-one-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
}

.row-one-text-actual {
    color: whitesmoke;
    font-family: "Playfair Display";
    width: 100%;
    height: fit-content;
    font-size: 2.25vh;

}

.row-one-text-actual-two {
    color: whitesmoke;
    font-family: "Playfair Display";
    width: 100%;
    height: fit-content;
    font-size: 2.25vh;

}



/* ROW TWO */ 
.inner-content-row-two {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.row-two-text-title-passion {
    color: whitesmoke;

    display: flex;
    justify-content: center;

    font-size: 34px;
    margin-top: 0;
}

.slideshow {
    width: 70%;
}




